In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
pwd

'C:\\Users\\utilisateur\\Desktop\\Py\\jupyter\\Cours'

In [6]:
try:
    orders = pd.read_csv(r'C:\Users\utilisateur\Desktop\Py\jupyter\Cours\orders.csv')
    print("File successfully loaded")
except FileNotFoundError:
    print('File not found in the working directory')

File successfully loaded

In [7]:
print(orders.head(10))

      id first_name    last_name                         email     shoe_type  \
0  41874       Kyle         Peck          KylePeck71@gmail.com  ballet flats
1  31349  Elizabeth    Velazquez      EVelazquez1971@gmail.com         boots
2  43416      Keith     Saunders              KS4047@gmail.com       sandles
3  56054       Ryan      Sweeney     RyanSweeney14@outlook.com       sandles
4  77402      Donna  Blankenship              DB3807@gmail.com     stilettos
5  97148     Albert       Dillon       Albert.Dillon@gmail.com        wedges
6  19998     Judith       Hewitt      JudithHewitt98@gmail.com     stilettos
7  83290      Kayla       Hardin        Kayla.Hardin@gmail.com     stilettos
8  77867     Steven  Blankenship  Steven.Blankenship@gmail.com        wedges
9  54885      Carol   Mclaughlin              CM3415@gmail.com  ballet flats

  shoe_material shoe_color  price
0  faux-leather      black  385.0
1        fabric      brown  388.0
2       leather       navy  346.0
3        fabric      brown  344.0
4        fabric      brown  289.0
5        fabric      brown  266.0
6       leather      black  395.0
7       leather      white  241.0
8       leather       navy  266.0
9  faux-leather      brown  440.0

The general syntax for calcultations in columns are : df.column_name.command()
mean() : average of all values in column 
std() : standard deviation
median() : median
max() : maximum value in column
min() : minimum value in column
count() : number of values in column
nunique() : number of uniques values in column
unique() : list of uniques values in column

Our finance department wants to know the price of the most expensive pair of shoes purchased. Save your answer to the variable most_expensive

In [12]:
most_expensive = orders.price.max()
print('The most expensive item in the database costs {}'.format(most_expensive))

The most expensive item in the database costs 493.0

Our fashion department wants to know how many different colors of shoes we are selling. Save your answer to the variable num_colors.

In [13]:
num_colors = orders.shoe_color.nunique()
print('Our company is selling {} different colors'.format(num_colors))

Our company is selling 5 different colors

When we have a bunch of data, we often want to calculate aggregate statistics (mean, standard deviation, median, percentiles, etc.) over certain subsets of the data. We use a groupby() statement to do so.

In [ ]:
Now, the finance department want to know the most expensive shoe for each shoe_type (i.e., the most expensive boot, the most expensive ballet flat, etc.).

Save your answer to the variable pricey_shoes.

In [21]:
pricey_shoes = orders.groupby('shoe_type').price.max()
print(pricey_shoes)
print('------------')
print("The object type is : {}".format(type(pricey_shoes)))

shoe_type
ballet flats    481.0
boots           478.0
clogs           493.0
sandles         456.0
stilettos       487.0
wedges          461.0
Name: price, dtype: float64
------------
The object type is : <class 'pandas.core.series.Series'>

After using groupby, we often need to clean our resulting data. The command .reset_index() will transform our Series into a DataFrame and move the indices into their own column.

In [22]:
pricey_shoes = orders.groupby('shoe_type').price.max().reset_index()
print(pricey_shoes)
print('------------')
print("The object type is : {}".format(type(pricey_shoes)))

      shoe_type  price
0  ballet flats  481.0
1         boots  478.0
2         clogs  493.0
3       sandles  456.0
4     stilettos  487.0
5        wedges  461.0
------------
The object type is : <class 'pandas.core.frame.DataFrame'>

Sometimes, the operation that you want to perform is more complicated than mean or count. In those cases, you can use the apply method and lambda functions, just like we did for individual column operations. Note that the input to our lambda function will always be a list of values.

 Our Marketing team says that it’s important to have some affordably priced shoes available for every color of shoe that we sell.

Let’s calculate the 25th percentile for shoe price for each shoe_color to help Marketing decide if we have enough cheap shoes on sale. Save the data to the variable cheap_shoes.

In [25]:
cheap_shoes = orders.groupby('shoe_color').price.apply(lambda x: np.percentile(x, 25)).reset_index()
print(cheap_shoes)

  shoe_color  price
0      black    NaN
1      brown  193.5
2       navy  205.5
3        red  250.0
4      white  196.0

Sometimes, we want to group by more than one column. We can easily do this by passing a list of column names into the groupby method.

At ShoeFly.com, our Purchasing team thinks that certain shoe_type/shoe_color combinations are particularly popular this year (for example, blue ballet flats are all the rage in Paris).

Create a DataFrame with the total number of shoes of each shoe_type/shoe_color combination purchased. Save it to the variable shoe_counts.

You should be able to do this using groupby and count().

In [28]:
shoe_counts = orders.groupby(['shoe_type', 'shoe_color']).id.count().reset_index()
print(shoe_counts.head(10))

      shoe_type shoe_color  id
0  ballet flats      black   2
1  ballet flats      brown   5
2  ballet flats        red   3
3  ballet flats      white   5
4         boots      black   3
5         boots      brown   5
6         boots       navy   6
7         boots        red   2
8         boots      white   3
9         clogs      black   4

When we perform a groupby across multiple columns, we often want to change how our data is stored. Reorganizing a table in this way is called pivoting. The new table is called a pivot table.In Pandas, the command for pivot is:

df.pivot(columns='ColumnToPivot',
         index='ColumnToBeRows',
         values='ColumnToBeValues')
         
Just like with groupby, the output of a pivot command is a new DataFrame, but the indexing tends to be “weird”, so we usually follow up with .reset_index().

In [29]:
shoe_counts_pivot = shoe_counts.pivot(
columns='shoe_color',
index='shoe_type',
values='id').reset_index()
print(shoe_counts_pivot)

shoe_color     shoe_type  black  brown  navy  red  white
0           ballet flats    2.0    5.0   NaN  3.0    5.0
1                  boots    3.0    5.0   6.0  2.0    3.0
2                  clogs    4.0    6.0   1.0  4.0    1.0
3                sandles    1.0    4.0   5.0  3.0    4.0
4              stilettos    5.0    3.0   2.0  2.0    2.0
5                 wedges    3.0    4.0   4.0  5.0    2.0