# DATA CLEANING WITH PANDAS

In [65]:
import pandas as pd
import glob
import numpy as np

def dash_line():
    print("\n------------\n")

## DEALING WITH MULTIPLE FILES

We can combine the use of glob, a Python library for working with files, with pandas to organize this data better. glob can open multiple files by using regex matching to get the filenames:

In [13]:
students_files = glob.glob("exams*.csv")

df_list = []
for file in students_files:
    df_list.append(pd.read_csv(file))
    
students = pd.concat(df_list)

print("The DataFrame has {} entries.".format(len(students)))
dash_line()
print(students.head())

The DataFrame has 1000 entries.

------------

   id          full_name gender_age fractions probability       grade
0   0  Roseanna Gwinnell        F15       89%         65%   9th grade
1   1  Ellissa Childrens        F14       73%         84%  12th grade
2   2      Reeta Bramich        F18       74%         92%  12th grade
3   3       Izabel Rymer        F15       66%         81%  11th grade
4   4      Rosalie Donne        F18       72%         86%  11th grade

## DEALING WITH DUPLICATES

To check for duplicates, we can use the pandas function .duplicated(), which will return a Series telling us which rows are duplicate rows. This method returns a boolean.

In [39]:
print(students.duplicated().tail()) # True will evaluate a duplicate
dash_line()
print("Value counts :\n {}".format(students.duplicated().value_counts()))

95    True
96    True
97    True
98    True
99    True
dtype: bool

------------

 value counts :
 False    700
True     300
dtype: int64

However, we can use the pandas .drop_duplicates() function to remove all rows that are duplicates of another row.

In [41]:
print(students.drop_duplicates().duplicated().tail()) # will return the students DataFrame free of duplicates.

95    False
96    False
97    False
98    False
99    False
dtype: bool

## SPLITTING BY INDEX

Let’s say we have a column “birthday” with data formatted in MMDDYYYY format. In other words, “11011993” represents a birthday of November 1, 1993. We want to split this data into day, month, and year so that we can use these columns as separate features.

In [ ]:
# Create the 'month' column
df['month'] = df.birthday.str[0:2]

# Create the 'day' column
df['day'] = df.birthday.str[2:4]

# Create the 'year' column
df['year'] = df.birthday.str[4:]

In [50]:
print(students.columns)
dash_line()

print(students.gender_age.head())
dash_line()

students["age"] = students.gender_age.str[1:]
df_students = students[["full_name", "grade", "age"]]
print(df_students.head())

Index(['id', 'full_name', 'gender_age', 'fractions', 'probability', 'grade',
       'age'],
      dtype='object')

------------

0    F15
1    F14
2    F18
3    F15
4    F18
Name: gender_age, dtype: object

------------

           full_name       grade age
0  Roseanna Gwinnell   9th grade  15
1  Ellissa Childrens  12th grade  14
2      Reeta Bramich  12th grade  18
3       Izabel Rymer  11th grade  15
4      Rosalie Donne  11th grade  18

## SPLITTING BY CHARACTER

In [54]:
name_split = students.full_name.str.split(" ")
students["first_name"] = name_split.str.get(0)
students["last_name"] = name_split.str.get(1)

df2_students = students[['first_name', 'last_name', 'age', 'grade']]
print(df2_students.head())

  first_name  last_name age       grade
0   Roseanna   Gwinnell  15   9th grade
1    Ellissa  Childrens  14  12th grade
2      Reeta    Bramich  18  12th grade
3     Izabel      Rymer  15  11th grade
4    Rosalie      Donne  18  11th grade

## LOOKING AT TYPES

Each column of a DataFrame can hold items of the same data type or dtype. The dtypes that pandas uses are: float, int, bool, datetime, timedelta, category and object.

If a numerical category like "num_users" is stored as a Series of objects instead of ints, for example, it makes it more difficult to do something like make a line graph of users over time.

In [58]:
print("the data type of the age column is '{}'.".format(students["age"].dtypes))

the data type of the age column is 'object'.

## STRING PARSING

In [62]:
students.probability = students['probability'].replace('[\%]','', regex=True)
students.probability = pd.to_numeric(students.probability)

print(students.probability.head())

0    65.0
1    84.0
2    92.0
3    81.0
4    86.0
Name: probability, dtype: float64

In [ ]:
print(students.grade.head())
dash_line()
students.grade = students.grade.str.split('(\d+)', expand=True)[1]

print(students.dtypes) #int64
dash_line()
students.grade = pd.to_numeric(students.grade)
avg_grade = students.grade.mean()

print(avg_grade) #10,62

## MISSING VALUES

We can use .dropna() to drop all of the rows with a missing value :

In [ ]:
df = df.dropna()

If we wanted to remove every row with a NaN value in the num_guests column only, we could specify a subset:

In [ ]:
df = df.dropna(subset=['subset_name'])

Or we can fill the missing values with the mean of the column, or with some other aggregate value with .fillna()

In [ ]:
df = df.fillna(0) #fill NaN values with 0